{#
/**
 * @file
 * Default theme implementation to present a MyAccess application.
 *
 * Available variables:
 * - application: The Application item, with limited access to object
 *   properties and methods. Only method names starting with "get", "has",
 *   or "is" and a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the Application.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - flag_favorite_application: Link to flag or unflag an application.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_myaccess_application()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'applications__tile',
  'view-' ~ view_mode|clean_class,
  'men-app'
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="applications__tile_linkwrap">
    {% if application.clickable %}
    <a href="{{ application.url }}" target="_blank" data-auth-type="{{ application.auth_type }}">
      {% endif %}
      {% if application.getImageUrl is not empty %}
        <img class="applications__img"
             src="{{ application.imageUrl }}"
             style="height: 100px"
             alt="{{ application.label }}"
        />
      {% endif %}
      {% if application.clickable %}
    </a>
    {% endif %}
    {% if application.hasFavorite() %}
      {{ flag_favorite_application }}
    {% endif %}
  </div>
  <p class="applications__title">{{ application.label }}</p>
</div>
