{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
    {{ attach_library('socialbase/breadcrumb') }}

    <nav role="navigation" class="container">
        <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
        <ol class="breadcrumb ">
            {% for item in breadcrumb %}

                <li {{ item.attributes }}>
                    {% if item.url and item.text %}
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    {% else %}
                        {% if item.text is not empty %}
                            {{ item.text }} {% if loop.index != breadcrumb|length %} / {% endif %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endif %}
