{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('myportal_theme/modal')}}
{% set current_uri = file_url(current.uri) %}
{% set modal_id = current.description|clean_class %}
<div{{ attributes.addClass('men-media-attachment') }}>
  {{ title_suffix.contextual_links }}
  <div>
    <a href="{{ current_uri }}" target="_blank" class="btn btn-men men-btn-download">{{ 'Download - '|t }} {{ current.description }}</a>
  </div>
  {% if link is not empty %}
    <div class="btn btn-men men-btn-modal" data-toggle="modal" data-target="#modal{{ modal_id }}">
    {{ 'Select other languages'|t }}
      <svg class="icon-modal">          
        <use xlink:href="#icon-arrow-long"></use>
      </svg>
    </div>
    <div class="modal fade men-modal-language" id="modal{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ modal_id }}Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal{{ modal_id }}Label">{{ 'In which language do you want to download the file?'|t }}</h5>
          </div>
          <div class="modal-body">
            <ul class="men-modal-language_list">
            {% for links in link %}
              {% set links_uri = file_url(links.uri) %}
              <li>
                <span class="file-link">
                  <a href="{{ links_uri }}" target="_blank">{{ links.language_id }}/{{ links.language_un }}</a>
                </span>
              </li>
            {% endfor %}
          </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-men men-btn-download" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>