<div class="search--result-filter-block">
  <div class="search--tab">
    <div class="search--tab-top">
      <h3>{{ 'Search also on:'|t }}</h3>
    </div>
    <ul class="search--tab-list">
        <li><a href="https://mail.google.com" target="_blank">{{ 'Gmail'|t }}</a></li>
        <li><a href="https://drive.google.com" target="_blank">{{ 'Google Drive'|t }}</a></li>
        <li><a href="https://www.google.com/calendar" target="_blank">{{ 'Google Calendar'|t }}</a></li>
    </ul>
  </div>
  <div class="search--tab-bottom">
    <button type="button" class="search--result-close btn btn-men search--result-close--mobile">{{ 'Close'|t }}</button>
  </div>
</div>
